<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="robot_name" default="panda"/>

  <!-- Empty link to referr everything to -->
  <link name="world" />

  <!-- Robot arm -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm_others.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.transmission.xacro"/>
 

  <!-- Robot arm definition-->
  <xacro:panda_arm />
  <!-- Comment or uncomment to add the gripper -->
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />
  <xacro:panda_gazebo robot_name="$(arg robot_name)" />
  <xacro:panda_transmission robot_name="$(arg robot_name)" />



</robot>
