<?xml version="1.0" encoding="utf-8"?>
<launch>
    <param name="map_file"  type="string" value="/home/jieming/catkin_ws/src/panda_simulation/panda_simulation/maps/0_05hard.bt" /> 
    <group ns="/robot1">
        <param name="tf_prefix" value="panda1" />
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/model_hand.urdf "/>    
        <!--rosparam file="$(find panda_simulation)/config/panda_controltorque.yaml" command="load" ns="/robot1"/-->


        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        	<param name="use_gui" value="True"/>
    	</node>
    </group>


  	<!--node name="rviz" pkg="rviz"  type="rviz" /-->
</launch>
